doctype html
html
  head
    title Dashboard
    link(rel='stylesheet', href='/css/styles.css')
  body
    table
      tbody
        tr
          th Name
          th MSSV
        tr
          td Tran Quang Huy
          td B1234567
        tr
          td Phuong Thao
          td B1234567
        tr
          td Duong Khang
          td B1234567
        tr
          td Ky Tai
          td B1234567
        tr
          td Hai Dang
          td B1234567
        tr
          td Huynh Hieu
          td B1234567

